/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*BODY*/
body {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  background-color:#EBA02C;
}

/*HEADER*/
h1{
  color:#EB3C28;
}

.first-head h1{
  color:#EB3C28;
  text-align: center;
  font-size: 100px;
  padding-bottom: 20px;
}

/*content*/
section p{
  margin-bottom: 30px;
  color: #6A22EB
  text-align: center;
}
/*stories header*/
div h5{
  padding-bottom:30px;
  color: #6A22EB
}

/*FOOTER*/
footer small{
  font-size: 30px;
  padding-top: 50px;
  text-align: center;
  color: #1213AD
}

/*Stories outline*/
div{
  background-color: #EBA02C;
}

div h5{
  text-align:center;
}

div p{
  padding-bottom::50px;
  text-align:justify;
  font-size: 20px;
}
